{% extends "::base.html.twig" %}

{% block body %}
    <h1>Existing users</h1>
    <p><a href="{{ path('user_create') }}">Create user</a></p>

    <table>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.country }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}