<p><a href="{{ path('user_register') }}">Register user</a></p>

<table>
    {% for user in users %}
        <tr>
            <td>{{ user.email.host }}</td>
            <td>{{ user.country }}</td>
            <td>
                <ul>
                {% for phoneNumber in user.phoneNumbers %}
                    <li>{{ phoneNumber }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>